.calculator {
    margin: auto;
    width: 500px;
    height: 600px;
}

.clear {
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#lastOperationScreen {
    height: 25px;
    width: auto;
    border: 1px solid black;
}

.screen-current {
    font-size: large;
}

.clear button {
    width: 49%;
}

#btns {
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#btns button {
    width: 25%;
}

.screen {
    width: 400px;
    height: 70px;
    border: 1px solid black;
}

#currentOperationScreen {
    width: 200px;
    height: 30px;
}

.operator,
#del {
    background-color: bisque;
}